footer{
  bottom: 0;
 position: absolute;
  text-align: center;
}
.start{
  text-align:center;
}
th{
  text-decoration: underline;
  color: #2d8483; 
}
h1, h2, h3{
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.gameButtons{
  color: white;
  cursor: pointer;
}
.table-bordered{

}
.cheats{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 20px;
}
.tableBtn{
  display:none;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}